In [1]:
x <- 10
y <- runif(1) * 100

if(x > y ){
    print("x>runif()")
}
print("--- End ---")

[1] "--- End ---"

In [2]:
x <- 10
y <- runif(1) * 100

if(x > y ){
    print("x>runif()")
}else{
    print("x <= runif()")
}
    print("--- End ---")

[1] "x <= runif()"
[1] "--- End ---"

In [3]:
x <- 10
y <- runif(1) * 100

if(x > y ){
    print("x>runif()")
}else if(x <y ){
    print("x< runif()")
}else{
    print("x = runif()")
}
    print("--- End ---")

[1] "x< runif()"
[1] "--- End ---"

In [4]:
# 홀수 짝수 구분

a <- c(8,7,6)

if( a %% 2 == 0){
#    cat(a, "는 짝수입니다." , sep= "" )
    sprintf("%i는 짝수 입니다.",a)
}else{
    cat(a, "는 홀수입니다." )
}

Warning message in if (a%%2 == 0) {:
“length > 1 이라는 조건이 있고, 첫번째 요소만이 사용될 것입니다”

[1] "8는 짝수 입니다." "7는 짝수 입니다." "6는 짝수 입니다."

In [5]:
a <- c(8,7,6)
ifelse(a %% 2 ==0, paste(a,": 짝수"), paste(a,": 홀수"))

[1] "8 : 짝수" "7 : 홀수" "6 : 짝수"

In [6]:
# 사용자로부터 data를 입력 받아 입력한 숫자가 홀수 인지 짝수 인지 판단하여 출력하기.

num1 <-as.integer(readline("숫자를 입력하세요 : "))

#입력하신 숫자는 12이고 짝수입니다. 
ifelse(num1 %% 2 == 0 , sprintf("입력하신 숫자는 %i이고 짝수입니다.",num1),sprintf("입력하신 숫자는 %i이고 홀수입니다.",num1))

숫자를 입력하세요 : 12

[1] "입력하신 숫자는 12이고 짝수입니다."

In [7]:
score <- as.integer(readline("점수를 입력하세요 : "))

if(score >= 90){
    print("A학점 입니다.")
}else if(score >=80){
    print("B학점 입니다.")
}else if(score >= 70){
    print("C학점 입니다.")
}else if(score >= 60){
    print("D학점 입니다.")
}else{
    print("F학점 입니다.")
}

점수를 입력하세요 : 12
[1] "F학점 입니다."

In [8]:
excel <- read.csv("../Data/excel.csv")

In [9]:
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [10]:
# q1컬럼에서 DAta가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 원래 Data를 출력하기

q1 <- excel$q1
print(ifelse(q1 >= 3 , round(sqrt(q1),4) , q1))

  [1] 2.0000 1.0000 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000
 [11] 2.0000 1.7321 1.7321 1.7321 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321
 [21] 1.7321 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321
 [31] 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 1.7321 2.0000
 [41] 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 2.0000 1.7321
 [51] 2.0000 2.0000 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000 2.0000 1.7321
 [61] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000
 [71] 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000
 [81] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000
 [91] 2.0000 2.0000 2.0000 2.0000 1.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[101] 1.7321 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[111] 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000
[121] 1.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 1.7321 1.7321 2.0000
[131] 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000
[141] 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000
[151] 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000
[161] 2.0000 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000
[171] 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000 2.0000 1.7321
[181] 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[191] 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321
[201] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000
[211] 1.7321 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 1.7321 2.0000 1.7321
[221] 2.0000 1.7321 1.0000 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000
[231] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[241] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[251] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[261] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000 1.7321 1.7321
[271] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000
[281] 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000
[291] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000
[301] 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 1.7321 2.0000
[311] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[321] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[331] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[341] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000 1.7321 1.7321 1.0000
[351] 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[361] 2.0000 1.7321 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[371] 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000
[381] 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[391] 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000
[401] 2.0000 2.0000

In [11]:
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [12]:
# q1 컬럼에서 Data가 3보다 크거나 같으면 data의 제곱근을 구하고 아니면 운래 Data를 q6이라는 컬럼을 만들러 추가하기

excel$q6 <- ifelse(q1>=3, round(sqrt(q1),4),q1)
head(excel)

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.0000
2 1  2  2  2  2  1.0000
3 2  3  4  3  3  2.0000
4 3  5  5  3  3  1.7321
5 3  2  4  4  4  1.7321
6 4  3  3  4  2  2.0000

In [15]:
for (i in excel){
    print(i)
}

  [1] 2 1 2 3 3 4 3 4 4 4 4 3 3 3 1 3 3 3 2 3 3 4 2 2 3 4 4 4 3 3 1 3 3 3 4 3 4
 [38] 2 3 2 2 4 3 3 2 2 4 1 4 3 4 4 3 4 3 2 2 2 2 3 4 4 2 3 3 3 3 4 1 2 3 3 3 4
 [75] 2 2 1 3 3 2 2 2 3 2 3 3 4 3 2 2 2 2 2 4 1 4 4 4 2 2 3 3 2 3 3 2 4 2 4 2 2
[112] 4 3 4 2 2 3 3 3 2 1 3 4 3 3 2 3 3 3 2 2 4 1 3 3 4 3 2 3 1 2 3 5 4 3 3 2 4
[149] 3 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2 3 3 3 2 2 4 1 3 3 4 3 2 3 1 2 3 5 4 3 3 2
[186] 4 3 2 3 3 1 3 2 4 2 4 2 2 4 3 4 2 2 3 3 3 2 1 3 4 3 3 2 3 3 1 3 3 4 3 2 3
[223] 1 2 3 5 4 3 3 2 4 3 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2 3 1 3 2 4 2 4 2 2 4 3 4
[260] 2 2 3 3 3 2 1 3 4 3 3 2 4 3 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2 3 1 3 2 4 2 4 2
[297] 2 4 3 4 2 2 3 3 3 2 1 3 3 2 4 3 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2 3 1 3 2 4 2
[334] 4 2 2 4 3 4 2 2 3 3 3 2 1 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2 3 1 3 2 4 2 4 2 2
[371] 4 3 4 2 2 3 3 3 2 1 3 4 3 3 2 4 3 2 3 3 1 3 2 4 3 3 2 4 2 2 2 2
  [1] 4 2 3 5 2 3 4 2 4 2 4 1 2 4 3 4 2 3 2 4 4 3 2 3 4 2 4 4 2 2 4 4 2 4 3 2 3
 [38] 4 2 4 3 4 4 2 3 2 4 2 5 4 2 3 1 3 4 2 4 4 2 4 4 2 3 4 5 4 4 3 3 3 3 2 4 4
 [75] 2 2 1 2 1 4 2 2 2 2 2 3 4 4 3 3 3 1 3 2 4 2 3 1 2 5 2 4 3 4 4 4 4 2 3 3 2
[112] 2 4 4 3 4 3 2 2 4 2 1 3 4 3 4 2 3 4 3 2 2 5 4 3 4 2 2 4 3 2 4 3 4 4 4 2 3
[149] 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2 2 3 4 3 2 2 5 4 3 4 2 2 4 3 2 4 3 4 4 4 2
[186] 3 2 4 2 2 2 2 4 4 2 3 3 2 2 4 4 3 4 3 2 2 4 2 1 3 4 3 4 2 3 5 4 3 4 2 2 4
[223] 3 2 4 3 4 4 4 2 3 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2 2 2 2 4 4 2 3 3 2 2 4 4
[260] 3 4 3 2 2 4 2 1 3 4 4 2 3 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2 2 2 2 4 4 2 3 3
[297] 2 2 4 4 3 4 3 2 2 4 2 4 4 2 3 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2 2 2 2 4 4 2
[334] 3 3 2 2 4 4 3 4 3 2 2 4 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2 2 2 2 4 4 2 3 3 2
[371] 2 4 4 3 4 3 2 2 4 2 1 3 4 4 2 3 2 4 2 2 2 2 4 3 1 4 3 3 4 2 3 2
  [1] 4 2 4 5 4 3 4 4 5 4 4 4 4 3 2 2 1 3 4 4 5 4 2 4 4 3 4 5 2 4 5 4 4 5 5 3 5
 [38] 4 4 4 4 4 2 1 4 5 4 2 4 4 3 4 3 2 3 2 2 4 5 4 4 3 2 4 4 3 3 3 5 4 4 2 4 5
 [75] 4 4 4 4 2 5 2 4 4 2 4 4 5 4 2 4 3 3 5 5 2 4 5 3 1 4 4 3 2 2 3 5 2 5 3 3 4
[112] 4 4 3 4 5 4 2 4 5 3 2 3 2 4 4 2 4 5 2 4 2 3 3 4 4 4 5 5 4 3 5 5 5 4 3 2 5
[149] 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4 2 4 5 2 4 2 3 3 4 4 4 5 5 4 3 5 5 5 4 3 2
[186] 5 3 4 2 4 2 4 4 2 5 3 3 4 4 4 3 4 5 4 2 4 5 3 2 3 2 4 4 2 4 3 3 4 4 4 5 5
[223] 4 3 5 5 5 4 3 2 5 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4 4 2 4 4 2 5 3 3 4 4 4 3
[260] 4 5 4 2 4 5 3 2 3 4 3 2 5 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4 4 2 4 4 2 5 3 3
[297] 4 4 4 3 4 5 4 2 4 5 3 4 3 2 5 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4 4 2 4 4 2 5
[334] 3 3 4 4 4 3 4 5 4 2 4 5 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4 4 2 4 4 2 5 3 3 4
[371] 4 4 3 4 5 4 2 4 5 3 2 3 4 3 2 5 3 4 2 4 2 4 4 5 2 4 5 3 4 5 4 4
  [1] 2 2 3 3 4 4 2 4 3 2 3 3 3 4 2 3 1 4 3 3 2 2 1 3 2 3 4 3 3 3 3 4 4 2 2 1 4
 [38] 3 3 2 2 2 3 2 2 4 2 3 3 2 2 3 3 3 2 1 4 3 1 4 3 4 2 3 3 3 2 3 3 3 3 3 2 4
 [75] 2 2 2 3 2 3 3 2 3 2 2 2 2 2 2 1 2 2 1 2 1 4 4 3 3 3 3 4 2 3 3 2 3 3 3 2 2
[112] 2 2 4 3 3 2 2 2 2 1 3 3 3 3 2 2 4 2 3 3 3 2 2 2 2 3 3 2 2 1 4 3 2 3 4 2 4
[149] 3 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2 2 4 2 3 3 3 2 2 2 2 3 3 2 2 1 4 3 2 3 4 2
[186] 4 3 3 1 2 2 3 3 3 3 3 2 2 2 2 4 3 3 2 2 2 2 1 3 3 3 3 2 2 4 2 2 2 2 3 3 2
[223] 2 1 4 3 2 3 4 2 4 3 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2 2 2 3 3 3 3 3 2 2 2 2 4
[260] 3 3 2 2 2 2 1 3 3 3 4 2 4 3 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2 2 2 3 3 3 3 3 2
[297] 2 2 2 4 3 3 2 2 2 2 1 3 4 2 4 3 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2 2 2 3 3 3 3
[334] 3 2 2 2 2 4 3 3 2 2 2 2 1 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2 2 2 3 3 3 3 3 2 2
[371] 2 2 4 3 3 2 2 2 2 1 3 3 3 4 2 4 3 3 1 2 2 3 3 3 1 3 2 2 2 2 2 2
  [1] 2 2 3 3 4 2 2 4 4 3 3 4 4 5 3 4 3 3 2 4 4 3 4 5 4 2 3 3 4 5 4 4 3 2 5 5 5
 [38] 2 4 5 2 3 4 3 4 1 4 5 3 3 5 4 4 4 4 2 5 3 4 5 3 4 4 4 3 4 4 4 3 5 4 3 3 3
 [75] 3 4 5 4 2 4 3 4 5 3 3 2 5 4 1 4 3 4 2 2 3 4 4 2 3 4 2 4 4 4 4 2 2 3 2 3 3
[112] 4 5 5 3 5 3 3 3 2 3 5 5 4 2 4 4 4 4 5 4 2 4 3 4 3 4 4 3 2 2 5 4 3 3 3 4 2
[149] 4 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4 4 4 4 5 4 2 4 3 4 3 4 4 3 2 2 5 4 3 3 3 4
[186] 2 4 2 4 4 2 4 4 2 3 2 3 3 4 5 5 3 5 3 3 3 2 3 5 5 4 2 4 4 4 4 3 4 3 4 4 3
[223] 2 2 5 4 3 3 3 4 2 4 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4 4 2 4 4 2 3 2 3 3 4 5 5
[260] 3 5 3 3 3 2 3 5 5 3 3 4 2 4 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4 4 2 4 4 2 3 2 3
[297] 3 4 5 5 3 5 3 3 3 2 3 3 3 4 2 4 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4 4 2 4 4 2 3
[334] 2 3 3 4 5 5 3 5 3 3 3 2 3 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4 4 2 4 4 2 3 2 3 3
[371] 4 5 5 3 5 3 3 3 2 3 5 5 3 3 4 2 4 2 4 4 2 4 4 2 1 2 4 4 3 4 4 4
  [1] 2.0000 1.0000 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000
 [11] 2.0000 1.7321 1.7321 1.7321 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321
 [21] 1.7321 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321
 [31] 1.0000 1.7321 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000 1.7321 2.0000
 [41] 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 2.0000 1.7321
 [51] 2.0000 2.0000 1.7321 2.0000 1.7321 2.0000 2.0000 2.0000 2.0000 1.7321
 [61] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000
 [71] 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000
 [81] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 2.0000 2.0000
 [91] 2.0000 2.0000 2.0000 2.0000 1.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[101] 1.7321 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[111] 2.0000 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000
[121] 1.0000 1.7321 2.0000 1.7321 1.7321 2.0000 1.7321 1.7321 1.7321 2.0000
[131] 2.0000 2.0000 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000
[141] 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000
[151] 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000
[161] 2.0000 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 2.0000 2.0000
[171] 1.0000 1.7321 1.7321 2.0000 1.7321 2.0000 1.7321 1.0000 2.0000 1.7321
[181] 2.2361 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[191] 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321
[201] 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000
[211] 1.7321 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 1.7321 2.0000 1.7321
[221] 2.0000 1.7321 1.0000 2.0000 1.7321 2.2361 2.0000 1.7321 1.7321 2.0000
[231] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[241] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[251] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[261] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 2.0000 1.7321 1.7321
[271] 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000
[281] 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000
[291] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000
[301] 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 1.7321 1.7321 2.0000
[311] 2.0000 1.7321 2.0000 1.7321 1.7321 1.0000 1.7321 2.0000 2.0000 1.7321
[321] 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 1.0000 1.7321
[331] 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000 1.7321 2.0000 2.0000
[341] 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000 2.0000 1.7321 1.7321 1.0000
[351] 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000
[361] 2.0000 1.7321 1.0000 1.7321 2.0000 2.0000 2.0000 2.0000 2.0000 2.0000
[371] 2.0000 1.7321 2.0000 2.0000 2.0000 1.7321 1.7321 1.7321 2.0000 1.0000
[381] 1.7321 2.0000 1.7321 1.7321 2.0000 2.0000 1.7321 2.0000 1.7321 1.7321
[391] 1.0000 1.7321 2.0000 2.0000 1.7321 1.7321 2.0000 2.0000 2.0000 2.0000
[401] 2.0000 2.0000