In [1]:
df<- read.csv("../Data/election_2017.csv")

In [4]:
df <- df[,-1]

In [9]:
head(df)

  광역시도   시군     pop    moon   hong  ahn
1 서울특별시 종로구   102566  42512 22325 22313
2 서울특별시 중구      82852  34062 17901 19372
3 서울특별시 용산구   148157  58081 35230 32109
4 서울특별시 성동구   203175  86686 40566 45674
5 서울특별시 광진구   240030 105512 46368 52824
6 서울특별시 동대문구 236092  98958 51631 53359

In [8]:
temp = colnames(df)
temp

[1] "광역시도" "시군"     "pop"      "moon"     "hong"     "ahn"

In [10]:
colnames(df) = c("광역시도","시군","투표수","문재인","홍준표","안철수")

In [12]:
head(df)

  광역시도   시군     투표수 문재인 홍준표 안철수
1 서울특별시 종로구   102566  42512 22325  22313
2 서울특별시 중구      82852  34062 17901  19372
3 서울특별시 용산구   148157  58081 35230  32109
4 서울특별시 성동구   203175  86686 40566  45674
5 서울특별시 광진구   240030 105512 46368  52824
6 서울특별시 동대문구 236092  98958 51631  53359

In [13]:
str(df)

'data.frame':	250 obs. of  6 variables:
 $ 광역시도: Factor w/ 17 levels "강원도","경기도",..: 9 9 9 9 9 9 9 9 9 9 ...
 $ 시군    : Factor w/ 227 levels "가평군","강남구",..: 178 179 150 99 30 63 180 100 5 61 ...
 $ 투표수  : int  102566 82852 148157 203175 240030 236092 265706 295866 210614 229233 ...
 $ 문재인  : int  42512 34062 58081 86686 105512 98958 111450 129263 89645 94898 ...
 $ 홍준표  : int  22325 17901 35230 40566 46368 51631 56545 57584 42268 47461 ...
 $ 안철수  : int  22313 19372 32109 45674 52824 53359 62778 66518 51669 55600 ...

In [ ]:
library(RMySQL)

# DB Connection

conn <- dbConnect(MySQL(),
                  dbname = 'RSQL',
                  user = 'root',
                  password = 'qwer1234',
                  host = '127.0.0.1'
                 )

# 테이블 목록
dbListTables(conn)

# 테이블의 컬럼 목록
dbListFields(conn, 'score')