In [7]:
df2021<- read.csv("../df2021.csv",)

In [8]:
head(df2021)

  대여일자   대여요일 공휴일 대여시간 대여소번호 n
1 2021-01-01 금       TRUE   0        2325       1
2 2021-01-01 금       TRUE   0        2333       1
3 2021-01-01 금       TRUE   0        2348       1
4 2021-01-01 금       TRUE   0        2362       1
5 2021-01-01 금       TRUE   0        2373       1
6 2021-01-01 금       TRUE   0        2377       1

In [13]:
colnames(df2021)[6]<- "누적횟수"

In [14]:
library(dplyr)

In [ ]:
# 1/21 ,3/09,

In [59]:
dfcom <- count(df2021,대여일자,대여요일,공휴일,대여시간,대여소번호,대여요일)

In [15]:
drop<-read.csv("../Data/semi/drop_dateTime.csv",fileEncoding = "euc-kr")

In [16]:
head(drop)

  일시       시
1 2018-04-15 1
2 2018-04-15 2
3 2018-04-15 3
4 2018-04-15 4
5 2018-04-15 5
6 2018-04-15 6

In [17]:
dropDate <- count(drop,일시)[,1]

In [18]:
dropDate <- as.data.frame(dropDate)

In [19]:
dropDate[60:77,]

 [1] 2020-12-16 2021-01-21 2021-02-16 2021-03-09 2021-06-12 2021-06-13
 [7] 2021-06-17 2021-07-12 2021-07-27 2021-08-02 2021-09-01 2021-09-02
[13] 2021-10-01 2021-10-10 2021-11-01 2021-11-02 2021-11-22 2021-11-23
77 Levels: 2017-01-05 2017-08-25 2018-03-01 2018-03-02 ... 2021-11-23

In [23]:
sum((df2021$대여일자 %in% dropDate[60:77,1]))

[1] 18430

In [24]:
df2021 <- df2021[!(df2021$대여일자 %in% dropDate[60:77,1]),]

In [29]:
str(df2021)

'data.frame':	392419 obs. of  6 variables:
 $ 대여일자  : Factor w/ 363 levels "2021-01-01","2021-01-02",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 대여요일  : Factor w/ 7 levels "금","목","수",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 공휴일    : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 대여시간  : int  0 0 0 0 0 0 0 0 1 1 ...
 $ 대여소번호: int  2325 2333 2348 2362 2373 2377 2390 2427 2365 2371 ...
 $ 누적횟수  : int  1 1 1 1 1 1 2 1 1 1 ...

In [34]:
df2021$대여일자 <- factor(df2021$대여일자)

In [35]:
df2021[df2021$대여일자 == "2021-11-03" ,]

       대여일자   대여요일 공휴일 대여시간 대여소번호 누적횟수
346378 2021-11-03 수       FALSE  0        2301       1
346379 2021-11-03 수       FALSE  0        2302       1
346380 2021-11-03 수       FALSE  0        2303       7
346381 2021-11-03 수       FALSE  0        2309       1
346382 2021-11-03 수       FALSE  0        2313       2
346383 2021-11-03 수       FALSE  0        2314       2
346384 2021-11-03 수       FALSE  0        2315       1
346385 2021-11-03 수       FALSE  0        2317       1
346386 2021-11-03 수       FALSE  0        2318       1
346387 2021-11-03 수       FALSE  0        2320       1
346388 2021-11-03 수       FALSE  0        2323       1
346389 2021-11-03 수       FALSE  0        2324       2
346390 2021-11-03 수       FALSE  0        2325       2
346391 2021-11-03 수       FALSE  0        2326       1
346392 2021-11-03 수       FALSE  0        2327       1
346393 2021-11-03 수       FALSE  0        2332       1
346394 2021-11-03 수       FALSE  0        2335       3
346395 2021-11-03 수       FALSE  0        2337       2
346396 2021-11-03 수       FALSE  0        2339       2
346397 2021-11-03 수       FALSE  0        2340       3
346398 2021-11-03 수       FALSE  0        2341       1
346399 2021-11-03 수       FALSE  0        2342       1
346400 2021-11-03 수       FALSE  0        2348       2
346401 2021-11-03 수       FALSE  0        2353       2
346402 2021-11-03 수       FALSE  0        2358       1
346403 2021-11-03 수       FALSE  0        2363       1
346404 2021-11-03 수       FALSE  0        2364       1
346405 2021-11-03 수       FALSE  0        2365       1
346406 2021-11-03 수       FALSE  0        2371       1
346407 2021-11-03 수       FALSE  0        2372       1
...    ...        ...      ...    ...      ...        ...
347878 2021-11-03 수       FALSE  23       2373       2
347879 2021-11-03 수       FALSE  23       2375       1
347880 2021-11-03 수       FALSE  23       2377       1
347881 2021-11-03 수       FALSE  23       2384       1
347882 2021-11-03 수       FALSE  23       2385       1
347883 2021-11-03 수       FALSE  23       2387       1
347884 2021-11-03 수       FALSE  23       2388       2
347885 2021-11-03 수       FALSE  23       2390       1
347886 2021-11-03 수       FALSE  23       2394       1
347887 2021-11-03 수       FALSE  23       2406       2
347888 2021-11-03 수       FALSE  23       2407       2
347889 2021-11-03 수       FALSE  23       2408       1
347890 2021-11-03 수       FALSE  23       2409       1
347891 2021-11-03 수       FALSE  23       2414       1
347892 2021-11-03 수       FALSE  23       2415       3
347893 2021-11-03 수       FALSE  23       2418       1
347894 2021-11-03 수       FALSE  23       2419       1
347895 2021-11-03 수       FALSE  23       2423       1
347896 2021-11-03 수       FALSE  23       2429       2
347897 2021-11-03 수       FALSE  23       2431       2
347898 2021-11-03 수       FALSE  23       3609       1
347899 2021-11-03 수       FALSE  23       3614       2
347900 2021-11-03 수       FALSE  23       3616       1
347901 2021-11-03 수       FALSE  23       3627       1
347902 2021-11-03 수       FALSE  23       3628       3
347903 2021-11-03 수       FALSE  23       3629       1
347904 2021-11-03 수       FALSE  23       3634       1
347905 2021-11-03 수       FALSE  23       3640       1
347906 2021-11-03 수       FALSE  23       3641       2
347907 2021-11-03 수       FALSE  23       3644       1

In [ ]:
if

In [37]:
str(df2021)

'data.frame':	392419 obs. of  6 variables:
 $ 대여일자  : Factor w/ 348 levels "2021-01-01","2021-01-02",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 대여요일  : Factor w/ 7 levels "금","목","수",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 공휴일    : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 대여시간  : int  0 0 0 0 0 0 0 0 1 1 ...
 $ 대여소번호: int  2325 2333 2348 2362 2373 2377 2390 2427 2365 2371 ...
 $ 누적횟수  : int  1 1 1 1 1 1 2 1 1 1 ...

In [38]:
write.csv(df2021,"df2021.csv",row.names = F)