In [2]:
mr <- read.csv("../Data/mushroom.csv" , header = F)
head(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 p  x  s  n  t  p  f  c  n  k   ... s   w   w   p   w   o   p   k   s   u
2 e  x  s  y  t  a  f  c  b  k   ... s   w   w   p   w   o   p   n   n   g
3 e  b  s  w  t  l  f  c  b  n   ... s   w   w   p   w   o   p   n   n   m
4 p  x  y  w  t  p  f  c  n  n   ... s   w   w   p   w   o   p   k   s   u
5 e  x  s  g  f  n  f  w  b  k   ... s   w   w   p   w   o   e   n   a   g
6 e  x  y  y  t  a  f  c  b  n   ... s   w   w   p   w   o   p   k   n   g

In [6]:
# 문자를 숫자로 변환
for(i in 2:23){
    mr[,i] <- as.numeric(mr[,i])
}
head(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 p  6  3   5 2  7  2  1  2  5   ... 3   8   8   1   3   2   5   3   4   6
2 e  6  3  10 2  1  2  1  1  5   ... 3   8   8   1   3   2   5   4   3   2
3 e  1  3   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   3   4
4 p  6  4   9 2  7  2  1  2  6   ... 3   8   8   1   3   2   5   3   4   6
5 e  6  3   4 1  6  2  2  1  5   ... 3   8   8   1   3   2   1   4   1   2
6 e  6  4  10 2  1  2  1  1  6   ... 3   8   8   1   3   2   5   3   3   2

In [8]:
unique(mr$V2)

[1] 6 1 5 3 4 2

In [16]:
#각 컬럼별 Data 확인
for(i in 2:23){
    cat("Column Name :", colnames(mr)[i])
    print(table(mr[,i]))
    cat("-------------------\n")
}

Column Name : V2
   1    2    3    4    5    6
 452    4 3152  828   32 3656
-------------------
Column Name : V3
   1    2    3    4
2320    4 2556 3244
-------------------
Column Name : V4
   1    2    3    4    5    6    7    8    9   10
 168   44 1500 1840 2284  144   16   16 1040 1072
-------------------
Column Name : V5
   1    2
4748 3376
-------------------
Column Name : V6
   1    2    3    4    5    6    7    8    9
 400  192 2160  400   36 3528  256  576  576
-------------------
Column Name : V7
   1    2
 210 7914
-------------------
Column Name : V8
   1    2
6812 1312
-------------------
Column Name : V9
   1    2
5612 2512
-------------------
Column Name : V10
   1    2    3    4    5    6    7    8    9   10   11   12
1728   96  752  732  408 1048   64 1492   24  492 1202   86
-------------------
Column Name : V11
   1    2
3516 4608
-------------------
Column Name : V12
   1    2    3    4    5
2480 3776  556 1120  192
-------------------
Column Name : V13
   1    2    3    4
 552 2372 5176   24
-------------------
Column Name : V14
   1    2    3    4
 600 2304 4936  284
-------------------
Column Name : V15
   1    2    3    4    5    6    7    8    9
 432   36   96  576  448  192 1872 4464    8
-------------------
Column Name : V16
   1    2    3    4    5    6    7    8    9
 432   36   96  576  512  192 1872 4384   24
-------------------
Column Name : V17
   1
8124
-------------------
Column Name : V18
   1    2    3    4
  96   96 7924    8
-------------------
Column Name : V19
   1    2    3
  36 7488  600
-------------------
Column Name : V20
   1    2    3    4    5
2776   48 1296   36 3968
-------------------
Column Name : V21
   1    2    3    4    5    6    7    8    9
  48 1632 1872 1968   48   72   48 2388   48
-------------------
Column Name : V22
   1    2    3    4    5    6
 384  340  400 1248 4040 1712
-------------------
Column Name : V23
   1    2    3    4    5    6    7
3148 2148  832  292 1144  368  192
-------------------

In [22]:
# 작업 수행후의 컬럼 갯수 파악
num <- c()
for(i in 2:23){
    num <- append(num, length(unique(mr[,i])))
}
num
sum(num)

 [1]  6  4 10  2  9  2  2  2 12  2  5  4  4  9  9  1  4  3  5  9  6  7

[1] 117

In [24]:
# 별도의 DataFrame 생성

mr2 <-data.frame(V1 = mr$V1)
head(mr2)

  V1
1 p
2 e
3 e
4 p
5 e
6 e

In [31]:
sort(unique(mr$V2))

[1] 1 2 3 4 5 6

In [33]:
for(i in 2:23){
    for ( j in sort(unique(mr[,i]))){
        mr2 = cbind(mr2,mr[,i] == j)
        colnames(mr2)[ncol(mr2)] = paste(i,"-",j)
    }
}

In [34]:
ncol(mr2)

[1] 118

In [37]:
str(mr2)

'data.frame':	8124 obs. of  118 variables:
 $ V1     : Factor w/ 2 levels "e","p": 2 1 1 2 1 1 1 1 2 1 ...
 $ 2 - 1  : logi  FALSE FALSE TRUE FALSE FALSE FALSE ...
 $ 2 - 2  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 2 - 3  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 2 - 4  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 2 - 5  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 2 - 6  : logi  TRUE TRUE FALSE TRUE TRUE TRUE ...
 $ 3 - 1  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 3 - 2  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 3 - 3  : logi  TRUE TRUE TRUE FALSE TRUE FALSE ...
 $ 3 - 4  : logi  FALSE FALSE FALSE TRUE FALSE TRUE ...
 $ 4 - 1  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 2  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 3  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 4  : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 4 - 5  : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 6  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 7  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 8  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 4 - 9  : logi  FALSE FALSE TRUE TRUE FALSE FALSE ...
 $ 4 - 10 : logi  FALSE TRUE FALSE FALSE FALSE TRUE ...
 $ 5 - 1  : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 5 - 2  : logi  TRUE TRUE TRUE TRUE FALSE TRUE ...
 $ 6 - 1  : logi  FALSE TRUE FALSE FALSE FALSE TRUE ...
 $ 6 - 2  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 6 - 3  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 6 - 4  : logi  FALSE FALSE TRUE FALSE FALSE FALSE ...
 $ 6 - 5  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 6 - 6  : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 6 - 7  : logi  TRUE FALSE FALSE TRUE FALSE FALSE ...
 $ 6 - 8  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 6 - 9  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 7 - 1  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 7 - 2  : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 8 - 1  : logi  TRUE TRUE TRUE TRUE FALSE TRUE ...
 $ 8 - 2  : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 9 - 1  : logi  FALSE TRUE TRUE FALSE TRUE TRUE ...
 $ 9 - 2  : logi  TRUE FALSE FALSE TRUE FALSE FALSE ...
 $ 10 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 3 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 5 : logi  TRUE TRUE FALSE FALSE TRUE FALSE ...
 $ 10 - 6 : logi  FALSE FALSE TRUE TRUE FALSE TRUE ...
 $ 10 - 7 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 8 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 9 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 10: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 11: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 10 - 12: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 11 - 1 : logi  TRUE TRUE TRUE TRUE FALSE TRUE ...
 $ 11 - 2 : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 12 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 12 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 12 - 3 : logi  FALSE TRUE TRUE FALSE FALSE TRUE ...
 $ 12 - 4 : logi  TRUE FALSE FALSE TRUE TRUE FALSE ...
 $ 12 - 5 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 13 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 13 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 13 - 3 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 13 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 14 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 14 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 14 - 3 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 14 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 3 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 5 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 6 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 7 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 15 - 8 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 15 - 9 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 3 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 5 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 6 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 7 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 16 - 8 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 16 - 9 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 17 - 1 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 18 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 18 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 18 - 3 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 18 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 19 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 19 - 2 : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ 19 - 3 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 20 - 1 : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 20 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 20 - 3 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 20 - 4 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 20 - 5 : logi  TRUE TRUE TRUE TRUE FALSE TRUE ...
 $ 21 - 1 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 2 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 3 : logi  TRUE FALSE FALSE TRUE FALSE TRUE ...
  [list output truncated]

In [41]:
# 컬럼 갯수가 많아서 structure을 다 못 보는 경우 str 는 100개만 보여줌
# 100번 부터 끝까지 보기
str(mr2[,100:ncol(mr2)])

'data.frame':	8124 obs. of  19 variables:
 $ 21 - 4: logi  FALSE TRUE TRUE FALSE TRUE FALSE ...
 $ 21 - 5: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 6: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 7: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 8: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 21 - 9: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 22 - 1: logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ 22 - 2: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 22 - 3: logi  FALSE TRUE TRUE FALSE FALSE TRUE ...
 $ 22 - 4: logi  TRUE FALSE FALSE TRUE FALSE FALSE ...
 $ 22 - 5: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 22 - 6: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 23 - 1: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 23 - 2: logi  FALSE TRUE FALSE FALSE TRUE TRUE ...
 $ 23 - 3: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 23 - 4: logi  FALSE FALSE TRUE FALSE FALSE FALSE ...
 $ 23 - 5: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 23 - 6: logi  TRUE FALSE FALSE TRUE FALSE FALSE ...
 $ 23 - 7: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...

In [43]:
#정렬
library(dplyr)

In [46]:
head(arrange(mr2 , V1))

  V1 2 - 1 2 - 2 2 - 3 2 - 4 2 - 5 2 - 6 3 - 1 3 - 2 3 - 3 ... 22 - 4 22 - 5
1 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE ... FALSE  FALSE
2 e   TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE ... FALSE  FALSE
3 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE ... FALSE  FALSE
4 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE ... FALSE  FALSE
5 e   TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE ... FALSE  FALSE
6 e   TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE ...  TRUE  FALSE
  22 - 6 23 - 1 23 - 2 23 - 3 23 - 4 23 - 5 23 - 6 23 - 7
1 FALSE  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE  FALSE
2 FALSE  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE  FALSE
3 FALSE  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE  FALSE
4 FALSE  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE  FALSE
5 FALSE  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE  FALSE
6 FALSE  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE  FALSE

In [48]:
# 정렬하려고 하면 column name때문에 정렬이 안됨
# colnames(mr2) <- paste("V", 1:118, sep = "")
# head(mr)

## column 이름과 one-hot encoding을 한번에 처리하기

In [57]:
mr3 <- data.frame(V1 = mr$V1)
head(mr3)

  V1
1 p
2 e
3 e
4 p
5 e
6 e

In [58]:
count = 2 #

for (i in 2:23){
    for ( j in sort(unique(mr[,i]))){
        mr3 = cbind(mr3,mr[,i] == j)
        colnames(mr3)[count] <- paste("V",i,"_",j ,sep = "")
        count = count + 1
    }
}
head(mr3)

  V1 V2_1  V2_2  V2_3  V2_4  V2_5  V2_6  V3_1  V3_2  V3_3  ... V22_4 V22_5
1 p  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE ...  TRUE FALSE
2 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE ... FALSE FALSE
3 e   TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE ... FALSE FALSE
4 p  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE ...  TRUE FALSE
5 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE ... FALSE FALSE
6 e  FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE ... FALSE FALSE
  V22_6 V23_1 V23_2 V23_3 V23_4 V23_5 V23_6 V23_7
1 FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
2 FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
3 FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
4 FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
5 FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
6 FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE

In [60]:
mr3 <- arrange(mr3 , V1)

In [61]:
table(mr3$V1)

   e    p
4208 3916

In [63]:
library(caret) #sample
library(nnet) #인공신경망 , 다항 로지스틱 회귀분석
library(e1071) # svm
library(randomForest) # randomForest
library(party) # 의사결정나무 ctree
library(ggplot2)

In [66]:
set.seed(1234)
# Sampling
samp <- createDataPartition(mr3$V1 , p = 0.7 ,list = F)
#학습용
data.train <- mr3[samp,]
#검증용
data.test <- mr3[-samp,]

#테스트셋
x <- subset(data.test , select = -V1)
y <- data.test$V1

In [71]:
#인공신경망 테스트
ANN <- function(data.tr , data.test , x , y ){
    model.nnet <- nnet(V1 ~. , data = data.tr , size = 3)
    pred <- predict(model.nnet , x , type = "class")
    cat("예측력" ,mean(pred == y), "입니다.")
    print(table(pred,y))
    return(mean(pred == y))
}

#의사결정 나무 
CTREE <-function(data.tr , data.test , x , y ){
    model.ctree <- ctree(V1 ~ . , data=data.tr)
    pred <- predict(model.ctree , x )
    cat("예측력" ,mean(pred == y), "입니다.")
    print(table(pred,y))
    return(mean(pred == y))
}

#RandomForesst
RandomForest<-function(data.tr , data.test , x , y ){
    model.rf <- randomForest(V1 ~ . , data=data.tr, ntree = 100)
    pred <- predict(model.rf , x )
    cat("예측력" ,mean(pred == y), "입니다.")
    print(table(pred,y))
    return(mean(pred == y))
} 

#SVM
SVM <-function(data.tr , data.test , x , y ){
    model.svm <- svm(V1 ~ . , data=data.tr)
    pred <- predict(model.svm , x )
    cat("예측력" ,mean(pred == y), "입니다.")
    print(table(pred,y))
    return(mean(pred == y))
} 

#Logistic regression
Logisticreg <-function(data.tr , data.test , x , y ){
    model.log <- multinom(V1 ~ . , data=data.tr)
    pred <- predict(model.log , x )
    cat("예측력" ,mean(pred == y), "입니다.")
    print(table(pred,y))
    return(mean(pred == y))
}

In [72]:
a <- rep(0,5)
iteration <- 5
for(i in 1:iteration){
    a = a + c(
            ANN(data.train , data.test , x , y ),
            CTREE(data.train , data.test , x , y ),
            RandomForest(data.train , data.test , x , y ),
            SVM(data.train , data.test , x , y ),
            Logisticreg(data.train , data.test , x , y )
    )
}
a<- a/iteration
result<-data.frame(예측력 = a)
rownames(result) = c("인공신경망","의사결정나무","RandomForest","SVM","로지스틱회귀분석")
result

# weights:  358
initial  value 4098.532622
iter  10 value 671.791448
iter  20 value 271.268463
iter  30 value 195.894194
iter  40 value 146.792087
iter  50 value 61.782881
iter  60 value 39.660400
iter  70 value 0.058319
iter  80 value 0.011015
iter  90 value 0.003371
iter 100 value 0.002153
final  value 0.002153
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.9975369 입니다.    y
pred    e    p
   e 1262    6
   p    0 1168
# weights:  119 (118 variable)
initial  value 3942.621163
iter  10 value 119.564501
iter  20 value 6.258442
iter  30 value 0.648195
iter  40 value 0.353389
iter  50 value 0.188963
iter  60 value 0.123492
iter  70 value 0.072709
iter  80 value 0.042991
iter  90 value 0.028542
iter 100 value 0.006974
final  value 0.006974
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
# weights:  358
initial  value 4083.299565
iter  10 value 152.073243
iter  20 value 7.237902
iter  30 value 3.682083
iter  40 value 0.036491
final  value 0.000065
converged
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.9975369 입니다.    y
pred    e    p
   e 1262    6
   p    0 1168
# weights:  119 (118 variable)
initial  value 3942.621163
iter  10 value 119.564501
iter  20 value 6.258442
iter  30 value 0.648195
iter  40 value 0.353389
iter  50 value 0.188963
iter  60 value 0.123492
iter  70 value 0.072709
iter  80 value 0.042991
iter  90 value 0.028542
iter 100 value 0.006974
final  value 0.006974
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
# weights:  358
initial  value 4349.500353
iter  10 value 269.825634
iter  20 value 55.677129
iter  30 value 43.492763
iter  40 value 43.253243
iter  50 value 43.192224
iter  60 value 43.185342
iter  70 value 43.185047
iter  80 value 43.184986
final  value 43.184959
converged
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.9975369 입니다.    y
pred    e    p
   e 1262    6
   p    0 1168
# weights:  119 (118 variable)
initial  value 3942.621163
iter  10 value 119.564501
iter  20 value 6.258442
iter  30 value 0.648195
iter  40 value 0.353389
iter  50 value 0.188963
iter  60 value 0.123492
iter  70 value 0.072709
iter  80 value 0.042991
iter  90 value 0.028542
iter 100 value 0.006974
final  value 0.006974
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
# weights:  358
initial  value 4065.449097
iter  10 value 1312.637313
iter  20 value 409.939394
iter  30 value 256.616060
iter  40 value 237.336549
iter  50 value 169.134857
iter  60 value 167.953723
iter  70 value 167.930617
iter  80 value 165.139070
iter  90 value 4.289505
iter 100 value 0.059783
final  value 0.059783
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.9975369 입니다.    y
pred    e    p
   e 1262    6
   p    0 1168
# weights:  119 (118 variable)
initial  value 3942.621163
iter  10 value 119.564501
iter  20 value 6.258442
iter  30 value 0.648195
iter  40 value 0.353389
iter  50 value 0.188963
iter  60 value 0.123492
iter  70 value 0.072709
iter  80 value 0.042991
iter  90 value 0.028542
iter 100 value 0.006974
final  value 0.006974
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
# weights:  358
initial  value 4119.247819
iter  10 value 452.272381
iter  20 value 214.977045
iter  30 value 36.426041
iter  40 value 2.200967
iter  50 value 0.022061
iter  60 value 0.000146
final  value 0.000083
converged
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.999179 입니다.    y
pred    e    p
   e 1262    2
   p    0 1172
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174
예측력 0.9975369 입니다.    y
pred    e    p
   e 1262    6
   p    0 1168
# weights:  119 (118 variable)
initial  value 3942.621163
iter  10 value 119.564501
iter  20 value 6.258442
iter  30 value 0.648195
iter  40 value 0.353389
iter  50 value 0.188963
iter  60 value 0.123492
iter  70 value 0.072709
iter  80 value 0.042991
iter  90 value 0.028542
iter 100 value 0.006974
final  value 0.006974
stopped after 100 iterations
예측력 1 입니다.    y
pred    e    p
   e 1262    0
   p    0 1174

                 예측력
인공신경망       0.9998358
의사결정나무     0.9991790
RandomForest     1.0000000
SVM              0.9975369
로지스틱회귀분석 1.0000000

In [86]:
funx <- function(x){
    y = data.frame(a= c(x+1,x+2))
    return(y)
}

funx(1)

  a
1 2
2 3